#################
## MyReadings
#################

tmp/
config.php
confadmin.php
conf.db
resources/sass/.sass-cache
build/
archive/
Thumbs.db
todo.txt
cache/*
!cache/writetest.html
thumb/*
!thumb/writetest.html